<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <center>   <h1>KAMARAJ COLLEGE OF ENGINEERING AND TECHNOLOGY</h1>
        <h2>Web Application Using Django Framework</h2>
        <h2><pre style="font-family: 'Times New Roman', Times, serif;">    T.Jayashree
    III IT A [22UIT050]
    </pre></h2>
        <h2>Creating Session and Cookies Using Django</h2>
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="mobile_number">Mobile Number:</label>
        <input type="text" id="mobile_number" name="mobile_number" required><br><br>
        
        <button type="submit">Login</button>
    </form></center>
</body>
</html>
